<div class="app-book-list body-module">
  <div class="row">
    <div class="col-md-10">
      <h1>Livros</h1>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-dark" (click)="goToForm()">Novo</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Título</th>
            <th scope="col">Autor</th>
            <th scope="col">ISBN</th>
            <th scope="col">Data de publicação</th>
            <th scope="col">Categoria</th>
            <th scope="col" style="text-align: center;">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of bookList">
            <th>{{book.id}}</th>
            <th>{{book.title}}</th>
            <th>{{book.author}}</th>
            <th>{{book.isbn}}</th>
            <th>{{book.publicationDate}}</th>
            <th>{{book.category}}</th>
            <th>
              <div class="actions">
                <a (click)="delete(book.id)">
                  <i class="bi bi-trash3-fill"></i>
                </a>
                <a (click)="goToEdit(book.id)">
                  <i class="bi bi-pencil-square"></i>
                </a>
              </div>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>