*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #031d53;
  --secondary: #4680ff;
  --background: #f4f5fa;
  --gray1: #535763;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden !important;
  background-color: var(--background);
}

.body-module {
  padding: 0px 100px;
}