<div class="app-user body-module">
  <div class="row">
    <div class="col-md-12">
      <h1>Livros</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Título</th>
            <th scope="col">Autor</th>
            <th scope="col">ISBN</th>
            <th scope="col">Data de publicação</th>
            <th scope="col">Categoria</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of bookList">
            <th>{{book.id}}</th>
            <th>{{book.title}}</th>
            <th>{{book.author}}</th>
            <th>{{book.isbn}}</th>
            <th>{{book.publicationDate}}</th>
            <th>{{book.category}}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>